
    <app-add-contact></app-add-contact>

    <br>

    <app-update-contact></app-update-contact>
    
    <!-- <hr> -->
<div class="listOfContact">
    <div *ngFor="let contact of contact" id="phoneBook">
        <img src="../../../assets/img/profile.png" alt="photo">
        <p>{{contact.name}}</p>
        <p>{{contact.contactNumber}}</p>
        <button [class.selected] = "contact === updateContactDetails" (click)="updateContact(contact)" id="updateButton">Update</button>
        <button (click)="deleteContact(contact)" id="deleteButton">Delete</button> 
        <app-delete-contact></app-delete-contact>
    </div>
    <br>
</div>

