$center-text: center;
$body-color: #EEE2DC;
$standard-font-style: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

h1 {
    text-align: $center-text;
}

body {
    //background-color: $body-color;
    margin: 0;
    font-family: $standard-font-style; 
}